#flume-ng agent -n agent2 -f avro-hdfs-kaka-weblog.config -Dflume.root.logger=INFO,console

agent2.sources = avro-source
agent2.sinks = hdfs-sink kafka-sink
agent2.channels = fileChannel3 memChannel2

#define fileChannel3 
agent2.channels.fileChannel3.type = file
agent2.channels.fileChannel3.capacity = 1000
agent2.channels.fileChannel3.transactionCapacity = 1000
agent2.channels.fileChannel3.keep-alive = 10
agent2.channels.fileChannel3.checkpointDir = ~/.flume/file-channel3/checkpoint
agent2.channels.fileChannel3.dataDirs = ~/.flume/file-channel3/data

#define memChannel2
agent2.channels.memChannel2.type = memory
agent2.channels.memChannel2.capacity = 1000
agent2.channels.memChannel2.transactionCapacity = 1000
agent2.channels.memChannel2.keep-alive = 10

#define source avro-source
agent2.sources.avro-source.type = avro
agent2.sources.avro-source.bind = 127.0.0.1
agent2.sources.avro-source.port = 2181
agent2.sources.avro-source.channels = fileChannel3 memChannel2

#define sink hdfs-sink
agent2.sinks.hdfs-sink.type = hdfs
agent2.sinks.hdfs-sink.hdfs.path = /user/edureka_735821/flume_sink/transport/
agent2.sinks.hdfs-sink.hdfs.inUsePrefix = _
agent2.sinks.hdfs-sink.hdfs.inUseSuffix = .tmp
agent2.sinks.hdfs-sink.hdfs.rollSize = 315621376 
agent2.sinks.hdfs-sink.hdfs.rollInterval = 1800
agent2.sinks.hdfs-sink.hdfs.rollCount = 0
agent2.sinks.hdfs-sink.hdfs.fileType = CompressedStream
agent2.sinks.hdfs-sink.hdfs.codeC = snappy
agent2.sinks.hdfs-sink.channel = fileChannel3

#define sink kafka-sink
agent2.sinks.kafka-sink.type = org.apache.flume.sink.kafka.KafkaSink
agent2.sinks.kafka-sink.kafka.topic = weblog_735821
agent2.sinks.kafka-sink.kafka.bootstrap.servers =  ip-20-0-31-210.ec2.internal:9092,ip-20-0-31-221.ec2.internal:9092
agent2.sinks.kafka-sink.kafka.requiredAcks = 1
agent2.sinks.kafka-sink.kafka.batchSize = 50
agent2.sinks.kafka-sink.channel = memChannel2
