#flume-ng agent -n agent3 -f spool-avro-weblog2.config -Dflume.root.logger =INFO,console
agent3.sources = log2
agent3.sinks = avro-sink1
agent3.channels = fileChannel2

#define fileChannel1
agent3.channels.fileChannel2.type = file
agent3.channels.fileChannel2.capacity = 1000
agent3.channels.fileChannel2.transactionCapacity = 1000
agent3.channels.fileChannel2.keep-alive = 10
agent3.channels.fileChannel2.checkpointDir = ~/.flume/file-channel2/checkpoint
agent3.channels.fileChannel2.dataDirs = ~/.flume/file-channel12/data

#define source log2 for agent1
agent3.sources.log2.type = spooldir
agent3.sources.log2.channels = fileChannel2
agent3.sources.log2.spoolDir = /mnt/bigdatapgp/edureka_735821/flume/spooldir2
agent3.sources.log2.fileSuffix = .done

#define sink avro-sink1
agent3.sinks.avro-sink1.type = avro
agent3.sinks.avro-sink1.channel = fileChannel2
agent3.sinks.avro-sink1.hostname = 127.0.0.1
agent3.sinks.avro-sink1.port = 2181