#flume-ng agent -n agent1 -f spool-avro-weblog1.config -Dflume.root.logger =INFO,console
agent1.sources = log1
agent1.sinks = avro-sink1
agent1.channels = fileChannel1

#define fileChannel1
agent1.channels.fileChannel1.type = file
agent1.channels.fileChannel1.capacity = 1000
agent1.channels.fileChannel1.transactionCapacity = 1000
agent1.channels.fileChannel1.keep-alive = 10
agent1.channels.fileChannel1.checkpointDir = ~/.flume/file-channel1/checkpoint
agent1.channels.fileChannel1.dataDirs = ~/.flume/file-channel1/data

#define source log1 for agent1
agent1.sources.log1.type = spooldir
agent1.sources.log1.channels = fileChannel1
agent1.sources.log1.spoolDir = /mnt/bigdatapgp/edureka_735821/flume/spooldir
agent1.sources.log1.fileSuffix = .done

#define sink avro-sink1
agent1.sinks.avro-sink1.type = avro
agent1.sinks.avro-sink1.channel = fileChannel1
agent1.sinks.avro-sink1.hostname = 127.0.0.1
agent1.sinks.avro-sink1.port = 2181