#This is the simplest flume configuration. It takes input from console by netcat and displays output on console by logger in real time.
#flume-ng agent -n agent1 -f netcat-logger.config -Dflume.root.logger=INFO,console

agent1.sources = r1
agent1.sinks = k1
agent1.channels = c1

#Define source for agent1
agent1.sources.r1.type = netcat
agent1.sources.r1.bind = localhost
agent1.sources.r1.port = 44444

#Define sink for agent1
agent1.sinks.k1.type = logger

#Define memory channel
agent1.channels.c1.type = memory
agent1.channels.c1.capacity = 1000
agent1.channel.c1.transactionCapacity = 100

#Link source and sink
agent1.sources.r1.channels = c1
agent1.sinks.k1.channel = c1
