#Flume agent configuration for a netcat as source and file roll as sink via a memory channel. Inputs are intercepted. This can be run as:
#flume-ng agent -n agent1 -f netcat-fileroll.config -Dflume.root.logger=INFO,console

agent1.sources = r1
agent1.sinks = k1
agent1.channels = c1

#Define source for agent1
agent1.sources.r1.type = netcat
agent1.sources.r1.bind = localhost
agent1.sources.r1.port = 10000
agent1.sources.r1.max-line-length = 1024

#Define sink for agent1
agent1.sinks.k1.type = file_roll
agent1.sinks.k1.sink.directory = <output directory>
#Define regex interceptor
agent1.sources.r1.interceptors = i1
agent1.sources.r1.interceptors.i1.type = regex_filter
agent1.sources.r1.interceptors.i1.regex = <regex>
agent1.sources.r1.interceptors.i1.excludeEvents = true

#Define channel
agent1.channels.c1.type = memory
agent1.channels.c1.capacity = 10000
agent1.channels.c1.transactionCapacity = 1000

#Bind source and sink to channel
agent1.sources.r1.channels = c1
agent1.sinks.k1.channel = c1
