# This is a flume agent configuration for a fan out flow from spooling directory to kafka and hdfs sink via memory and file channel respectively.
#flume-ng agent -n agent1 -f spool-kafka-hdfs-fanout.config  -Dflume.root.logger=INFO,console

agent1.sources = source1
agent1.sinks = hdfs-sink kafka-topic
agent1.channels = fileChannel1 memChannel1

#define file channel1
agent1.channels.fileChannel1.type = memory

#define file channel2
agent1.channels.memChannel1.type = memory

#define source for agent1
agent1.sources.source1.type = spooldir
agent1.sources.source1.spoolDir = <spooling directory>
agent1.sources.source1.fileSuffix = .done
agent1.sources.source1.channels = fileChannel1 memChannel1
agent1.sources.source1.interceptors = header-filter

#define interceptors
agent1.sources.source1.interceptors.header-filter.type = regex_filter
agent1.sources.source1.interceptors.header-filter.regex = <regex>
agent1.sources.source1.interceptors.header-filter.excludeEvents = true

#define kafka-topic sink for agent1
agent1.sinks.kafka-topic.type = org.apache.flume.sink.kafka.KafkaSink
agent1.sinks.kafka-topic.kafka.topic = <kafka topic>
agent1.sinks.kafka-topic.kafka.bootstrap.servers =  <bootstrap srevers seperated by ,>
agent1.sinks.kafka-topic.kafka.producer.acks =1
agent1.sinks.kafka-topic.flumeBatchSize = 5
agent1.sinks.kafka-topic.channel = memChannel1

#define hdfs-sink sink for agent1
agent1.sinks.hdfs-sink.type = hdfs
agent1.sinks.hdfs-sink.hdfs.path = <hdfs sink>
agent1.sinks.hdfs-sink.hdfs.rollSize = 265072640
agent1.sinks.hdfs-sink.hdfs.rollInterval = 0 
agent1.sinks.hdfs-sink.hdfs.rollCount = 0 
agent1.sinks.hdfs-sink.hdfs.fileType = DataStream
agent1.sinks.hdfs-sink.channel = fileChannel1
