#This is a flume agent configuration for rolling 256 MB (default block size)files to hdfs. This is done for optimal utilization of hdfs as hdfs is designed for large files
#Files should not rolled based on rollInterval or rollCount. It must be rolled only on rollSize.
#flume-ng agent -n agent1 -f spool-hdfs-GoZip.config -Dflume.root.logger=INFO,console

agent1.sources = source1
agent1.sinks = hdfs-sink
agent1.channels = filechannel1

#Define source for agent1
agent1.sources.source1.type = spooldir
agent1.sources.source1.spoolDir = /mnt/bigdatapgp/edureka_735821/flume/spooldir
agent1.sources.source1.fileHeader = false
agent1.sources.source1.fileSuffix = .done

#Define sink for agent1
agent1.sinks.hdfs-sink.type = hdfs
agent1.sinks.hdfs-sink.hdfs.path = /user/edureka_735821/flume_sink/transport
agent1.sinks.hdfs-sink.hdfs.rollInterval = 0
agent1.sinks.hdfs-sink.hdfs.rollCount = 0
agent1.sinks.hdfs-sink.hdfs.rollSize = 268435456‬
agent1.sinks.hdfs-sink.hdfs.writeFormat = Text
agent1.sinks.hdfs-sink.hdfs.filePrefix = _
agent1.sinks.hdfs-sink.hdfs.useLocalTimeStamp = true
agent1.sinks.hdfs-sink.hdfs.fileType = DataStream


#Define file channel
agent1.channels.filechannel1.type = file
agent1.channels.filechannel1.maxFileSize = 3698688


#Link source and sink
agent1.sources.source1.channels = filechannel1
agent1.sinks.hdfs-sink.channel = filechannel1
